<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Example App</title>
    </head>
    <body>
        <div class="container" style="align-content: center">
            {{{body}}}
        </div>
    </body>
</html>
